<h1>Top Stories from Hacker News</h1>


<!-- <p *ngIf="!newStories$"><em>Loading...</em></p>
<div *ngIf="newStories$"> -->

<p *ngIf="!items"><em>Loading...</em></p>
<div *ngIf="items">
 <form>
    <mat-form-field>
      <input matInput placeholder="Search" (keyup)="search($event)">
    </mat-form-field>
  </form>

  <!-- <div *ngFor="let item of pageOfItems">{{item.title}}</div>
  <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination> -->

 <mat-card *ngFor="let item of pageOfItems" (click)="open(item.url)">
    <mat-card-content>
      <mat-card-title>{{ item.title }}</mat-card-title>
      <mat-card-subtitle> {{ item.by }}</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
  <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination> 
</div>

